.container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 6px;
  justify-content: end;
}
.otherContainer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 6px;
}
.img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0.5px solid black;
}

.message {
  min-width: 18px;
  margin: 0;
  padding: 3px;
  font-size: 10px;
  background-color: rgba(196, 255, 210, 0.555);
  border-radius: 6px;
}

.oterhMessage {
  margin: 0;
  padding: 3px;
  font-size: 10px;
  background-color: rgba(184, 184, 184, 0.431);
  border-radius: 6px;
}
