.user {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  padding: 6px;
  cursor: pointer;
}

.user:hover {
  background-color: rgb(246, 246, 246);
}

.userImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.userId {
  width: 160px;
  font-size: smaller;
  margin: 0;
  padding: 0 3px;
}

.userOn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(28, 250, 28);
}

.userOff {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(92, 92, 92);
}
